body{
	font-family: 'Lato', sans-serif;
	font-size:15px;
	line-height:1.5em;
}

#container{
	width:70%;
	margin:10px auto;
	background:#fff;
	overflow:auto;
}

nav{
	height: 40px;
	text-align: justify;
	min-width: 340px;
	border-bottom: thin solid #a9a9a9;
}

nav:after {
	content: '';
	display: inline-block;
	width: 100%;
}

div a {
	color:blue;
	text-decoration: none;
}

.menu-item {
	display: inline-block;
	font-size: larger;
	margin: 10px;
}

div.msg-input-position {
	text-align: center;
	position: fixed;
	bottom: 75px;
}

div.msg-input-position {
	text-align: center;
	margin: auto;
	width: 100%;
}

input[type="text"] {
	height: 25px;
	width: 300px;
	border: solid #a9a9a9 1px;
	border-radius: 5px;
}



